# ignore files with individual, maybe secret, information
custom_values.h
upload_firmware.sh

# ignore complied firmware files
*.bin

# ignore data folder in case you want to upload homie configiration manually.
# see: https://marvinroger.github.io/homie-esp8266/develop/configuration/json-configuration-file/
data/*