#!/bin/bash

SERVER_IP=192.168.1.136
SERVER_PORT=80
BOARD="d1_mini"
FILENAME=".pioenvs\\${BOARD}\firmware.bin"

echo "Description: "
read DESCRIPTION

echo ""
echo "FILENAME: $FILENAME"
echo "DESCRIPTION: $DESCRIPTION"
echo "SERVER: $SERVER_IP:$SERVER_PORT"
echo "BOARD: $BOARD"
echo "FILENAME: $FILENAME"
echo ""

curl -F upload=@$FILENAME -F description="$DESCRIPTION" http://$SERVER_IP:$SERVER_PORT/upload