/*
 * This file contains all variables that may be defined different for each user.
 * Make a copy of this file and name it "custom_values.h".
 * Define your values as necessary.
 * 
 * Values you most likely will have to change or at least check for correctness:
 *  - DISPLAY_TITLE
 *  - NUM_LEDS
 *  - LEDS_PER_METER
 *  - LED_TYPE
 *  - NEXTION_TX
 *  - NEXTION_RX
 *  - SENSOR_DTH / SENSOR_DS18B20
 *  - TEMP_DATA_PIN
 *  - DHT_DATA_PIN
 *  - DHT_POWER_PIN
 */

// Text that will be printed on the top left corner of the display
#define DISPLAY_TITLE    "SuperLEDstrip"

/*
 * FastLED
 */
#define DATA_PIN            RX
#define NUM_LEDS            30
#define LEDS_PER_METER      60
#define LED_TYPE        WS2811
#define COLOR_ORDER        GRB
#define COLOR_CORRECTION    0xFFC880   // default: UncorrectedColor (https://github.com/FastLED/FastLED/wiki/FastLED-Color-Correction)
#define COLOR_TEMPERATURE   Tungsten40W  // default: UncorrectedTemperature
#define DEFAULT_BRIGHTNESS  50
#define DEFAULT_SCENE      101  // default: 101 (rainbow); see list in led_functions.h
#define DEFAULT_PALETTE      0  // 
#define DEFAULT_FPS        120  // frames per second
#define DEFAULT_TEMPO       80  // betas per minute
#define DEFAULT_ROTATION_SPEED 20  // higher is slower; 1 = increments Hue value per 1 every FRAME
#define DEFAULT_FITPALETTE   1  // how often schould a palette fit completely on the whole strip
// `FASTLED_RGBW` and `FASTLED_DMA` only work with coryking's FastLED
#define FASTLED_RGBW            // define this if you use RGBW SK6812 strips
#define FASTLED_ESP8266_DMA     // define this if you connected the led strip to GPIO pin 3 (commenly RX)

// Start with lights off?
bool lightON = false;

/*
 * Homie parameters
 */
#define HOMIE_STANDALONE  false   // here you can enable Homies standalone mode

/*
 * Nextion Display
 */
// Master RX, TX, connected to Nextion TX, RX
#define NEXTION_TX          D1
#define NEXTION_RX          D2

/*
 * DHT and DS18B20 sensor
 */
// define weather to use DHT or DS18B20 sensor
// #define SENSOR_DHT
#define SENSOR_DS18B20

#define SENSOR_READ_INTERVAL  60   // Interval the sensor data is read in seconds
#define TEMP_DATA_PIN         D3   // PIN connected to DS18B20
#define DHT_DATA_PIN          D2
#define DHT_POWER_PIN         D8   // DHT will pe turned off between reads to prevent heating itself
#define DHT_WARMUP             5   // Time between power on and reading data
#define DHT_TYPE           DHT22   // Change this if you have a DHT11

// define custom offsets is necessary
#define OFFSET_TEMP      0
#define OFFSET_HUMID     0

/*
 * Buttons
 */
#define BUTTON01_PIN        D7